html, body {
    max-width: 100vw;
    max-height: 100vh;
    /* overflow: hidden; */
    scroll-behavior: smooth;
  }

.search-bar {
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
    padding: 20px;
    background-color: rgb(177, 177, 177);
    /* padding-left: 1500px; */
}

#search-input {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: rgb(152, 177, 201);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0 4px 8px rgba(12, 12, 12, 0.5);
    font-size: 16px;
    color: #333;
    width: 500px;
  }
.navlinks {
    background-color: rgb(119, 118, 118);
    flex-wrap: wrap;
    padding-left: 15px;
    font-weight: bold;
    font-size: larger;

}

.box p{
    font-size: large;
    font-weight: 120%;
    line-height: 2.25;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.navlinks h1 {
    background-color: rgb(167, 166, 166);
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}


.content-flex-space {
    background-color: rgb(168, 168, 168);
}

.navlinks {
    display: flex;
    justify-content: space-between;
    background-color: rgb(152, 177, 201);
    padding: 10px;
}

#menulist {
    list-style: none;
    display: flex;

}


#menulist li {
    margin-right: 10px;
}

#menulist li:last-child {
    margin-right: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input {
    padding: 10px;
    border: none;
    background-color: rgb(152, 177, 201);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(12, 12, 12, 0.5);
}

#search-input::placeholder {
    color: rgb(27, 27, 27);
}

button {
    padding: 10px 20px;
    border: none;
    background-color: rgb(139, 139, 139);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-weight: bold;
}

  
  #load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%, -50%);
  }
  .container{
    display: flex;
  justify-content: center;
  align-items: center;
  height: calc(110vh - 160px);
  }
  #container {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide img {
    max-width: 100vh;
    max-height: 100vh;
    object-fit: contain;
    padding: 0.5em;
    color: #fff;
    font-size: 4em;
    background-color: opacity rgba(0, 0, 0, 0.4);
  }

  .about-container {
    margin-top: 20px;
    max-width: 100%;
    width: 800px; /* Adjust the width of the about container */
    text-align: center;
  }
body {

    background: linear-gradient( rgb(80, 131, 179), #ffffff);
}
  